
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* color: #040d1c; */
}




header {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: #040d1c; */
    z-index: 100;
    
}

h1{
    color: #040d1c;
}

.color-container{
    height: 40px;
    width:80px ;
    background-color: #cec8c0;
    display: flex;
    align-items: center;
    border-radius: 17px;
    
}
.color-container-justify1{
    justify-content: start;
}
.color-container-justify2{
    justify-content:end;
}

.circle1{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    box-shadow:inset 0px 0px 10px 2px rgb(125, 124, 124);
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}
.circle2{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(237, 230, 230);
    box-shadow:inset 0px 0px 10px 8px rgb(5, 4, 4);
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.light2{
    display: none;
}
.bodyColor{
    position: absolute;
    right: 10px;
}



main {
    
    margin-top: 12vh;
    overflow-y: auto;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.todo-inputs {
    
    display: flex;
    background-color:#040d1c;
    color: #ff8c00;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px 3px #ecd972;
    width: 60%;
    /* max-width: 800px; */
    position: sticky;
    top: 0;
    z-index: 1;
}


.title,.Description,.adds{
    display: flex;
    flex-direction: column;
}
.Description>p, .title>p{
    /* color: #040d1c; */
    color: #ff8c00;
    font-size: 20px;
    font-weight: bold;
}




@media (max-width:767px) {
    .todo-inputs{
        width: 90%;
        padding: 10px;
    }
    .input-data,.input-data {
        height: 30px;
        padding: 10px;
        border-radius: 10px;
        font-size: 17px;
        border: 2px solid rgb(241, 239, 233);
    }
    .title, .Description{
        width: 100%;
        padding: 10px 5px;
    }

    .adds{
        width: 50%;
        justify-content: end;
        margin-bottom: 10px;
        /* place-items: center; */
    }

    .todo-task-container {
        background-color: aliceblue;
        margin: 15px 0px;
        width: 90%;
        box-shadow: 0px 0px 5px 5px rgb(192, 202, 199);
        padding: 10px;
    }

    #todo-outputs {
        width: 100%; 
        max-width: 90%; 
        margin-top: 20px; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }

    
}


@media (min-width:767px) {
    
    .todo-inputs{
        padding: 10px 5px;
        
    }

    .input-data {
        height: 30px;
        padding: 10px;
        border-radius: 10px;
        font-size: 17px;
        border: 2px solid rgb(241, 239, 233);
    }
    .title, .Description,.adds{
        padding: 10px 5px;
        
    }
    .adds{
        align-self: flex-end;
    }
    

    .todo-task-container {
        padding: 10px;
        background-color: aliceblue;
        margin: 15px 0px;
        width: 70%;
        box-shadow: 0px 0px 5px 5px rgb(192, 202, 199);
    }

    #todo-outputs {
        width: 84%; 
        max-width:100%; 
        margin-top: 20px; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
}


input{
    color: black;
    font-weight: bold;
}
input:focus {
    outline: none;
    border-color: rgb(194, 126, 1);
    box-shadow: 0px 0px 5px 2px rgba(248, 163, 4, 0.7);
}

input::placeholder {
    color: #6c757d;
    font-style: italic;
}

.button {
    color: white;
    font-size: 16px;
    padding: 17px 30px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #ff8c00;
    background: linear-gradient(to right, #6c757d,#040d1c);
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background: linear-gradient(to right,#040d1c, #6c757d);
    box-shadow: 0px 0px 10px #ff8c00;
}
p,button{
    color: #040d1c;
}
.to-do-head{
    display: flex;
    justify-content: space-between;
}
.to-do-main{
    padding-top: 5px;
    
}

.one{
    font-weight: bold;
}



.todo-task-container .icons-output {
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.todo-task-container:hover .icons-output {
    visibility: visible; 
    opacity: 1; 
    
}
.remove1, .edit1{
    font-size: 20px;
    color: #040d1c;
    padding: 2px 10px;
    
}
